<!--The content below is only a placeholder and can be replaced.-->
<div class="title-app" style="text-align:center">
  <h1>{{ title }} AliasLab</h1>
</div>
<div class="container-fluid">
  <div class="col-10">
    <app-users></app-users>
  </div>
</div>
